@import "tailwindcss";


html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(to bottom, #052e16, #000000);
  color: white;
} 
body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gradient-to-b from-green-950 to-black text-white;
}